<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='https://api.mapbox.com/mapbox-assembly/v0.24.0/assembly.min.css' rel='stylesheet'>
    <script src='https://api.mapbox.com/mapbox-assembly/v0.24.0/assembly.js'></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css" rel="stylesheet" />
    <script
        src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet'
        href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css'
        type='text/css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/geojson/0.5.0/geojson.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src='https://npmcdn.com/csv2geojson@latest/csv2geojson.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel='stylesheet' href="style.css" />
</head>

<body>
    <div class='flex-parent viewport-full relative scroll-hidden'>
        <div class='flex-child w-full w360-ml absolute static-ml left bottom'>
            <div class='flex-parent flex-parent--column viewport-third bg-white'>
                <div class='flex-child flex-child--grow'>
                    <div id="sidebarA"
                        class="flex-parent flex-parent--column-ml flex-parent--center-main theme py12 px12 ">
                        <h3 id='title' class='txt-l-ml txt-m txt-bold mb6 mr0-ml mr24 align-center block'>
                        </h3>
                        <p id='description' class='txt-s py12 none block-ml'>
                        </p>
                        <div class="flex-parent flex-parent--center-main relative-ml absolute right top mt0-ml mt6">
                            <button id='filterResults' class='txt-bold btn btn--stroke mr0-ml mr12 px18-ml px6'>
                                <svg class='icon inline-block align-middle h24 w24'>
                                    <use xlink:href='#icon-filter' /></svg>
                                <p class="inline-block-ml align-middle remove none">Filtrer</p>
                            </button>
                        </div>


                    </div>
                    <div id="listings" class="flex-child viewport-full py12 px12 listings scroll-auto"></div>

                </div>
            </div>
        </div>
        <div class='flex-child flex-child--grow w-auto viewport-full-ml viewport-twothirds' id='map'>

        </div>

        <div id='modal'
            class='absolute top right bottom left scroll-auto hide-visually flex-parent flex-parent--center-main mt120-ml'>
            <div class='pt36'>
                <div class='flex-child bg-white round relative scroll-auto'>
                    <button id='exitButton' class='absolute top right px12 py12'>
                        <svg class='icon link color-darken50'>
                            <use xlink:href='#icon-close'></use>
                        </svg>
                    </button>
                    <div class='px24 py24'>
                        <form id="filters"></form>
                        <div class='align-center py12'></div>
                        <div class="flex-parent flex-parent--center-main">
                            <button id="removeFilters" class="btn">Rétablir les Filtres</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    </div>
</body>
<template>
  <div class="navbar-container">
    <b-navbar :sticky="true" toggleable="lg" type="dark" variant="primary" id="topnav" class="d-flex d-lg-none">
      <!-- mobile menu -->
      <b-navbar-brand to="/" class="logo">
        <img :src="require('../images/logo.svg')" width="24" />
        Bay Community
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse" class="ml-auto" />
      <b-collapse id="nav-collapse" v-model="navState" is-nav class="text-right">
        <b-navbar-nav>
          <b-nav-item to="/">
            {{ $t('sidebar.home') }}
          </b-nav-item>
          <b-nav-item to="/about-us">
            {{ $t('about.about-us.header') }}
          </b-nav-item>
          <b-nav-item href="https://forms.gle/dPVK8Pd8XKAiQ3Ti9" target="_blank">{{ $t('sidebar.feedback') }} </b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown right>
            <template v-slot:button-content>
              <i class="fas fa-globe-americas" aria-hidden="true" />
              <span v-html="language" class="language" />
            </template>
            <b-dropdown-item href="#" v-for="item in languages" v-bind:key="item.iso" class="d-lg-block d-xl-block">
              <span :title="$t('languages.' + item.iso)"
                ><div
                  v-html="item.name"
                  :lang="item.iso"
                  @click="$emit('language-selected', item)"
                  :class="{ selected: item.name == language }"
                ></div
              ></span>
            </b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <!-- desktop menu -->
    <b-navbar :sticky="true" type="dark" variant="primary" id="topnav" class="d-none d-lg-flex">
      <b-navbar-nav class="mr-auto">
        <b-nav-item to="/" class="logo">
          <img :src="require('../images/logo.svg')" width="24" />
          Bay Community
        </b-nav-item>
        <b-nav-item to="/about-us">
          {{ $t('about.about-us.header') }}
        </b-nav-item>
        <b-nav-item href="https://forms.gle/dPVK8Pd8XKAiQ3Ti9" target="_blank">
          {{ $t('sidebar.feedback') }}
        </b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item href="#" v-for="item in languages" v-bind:key="item.iso" class="d-lg-block d-xl-block">
          <span :title="$t('languages.' + item.iso)"
            ><div
              v-html="item.name"
              :lang="item.iso"
              @click="$emit('language-selected', item)"
              :class="{ selected: item.name == language }"
            ></div
          ></span>
        </b-nav-item>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: 'app-header',
  props: {
    language: String
  },
  data() {
    return {
      navState: false,
      languages: [
        { iso: 'en', name: 'English' },
        { iso: 'es', name: 'Espa&#241;ol' },
        // { iso: 'fr', name: 'Fran&#231;ais' },
        // { iso: 'ko', name: '한국어' },
        // { iso: 'ar', name: 'عربى' },
        // { iso: 'ja', name: '日本人' },
        { iso: 'zh', name: '中文' },
        { iso: 'ms', name: 'Bahasa Melayu' },
        { iso: 'vi', name: 'Tiếng Việt' },
        { iso: 'tl', name: 'Tagalog' }
      ]
    }
  },
  watch: {
    navState: function (val) {
      this.$emit('toggled-nav-bar', val)
    }
  }
}
</script>

<style lang="scss" scoped>
.navbar-container {
  width: 100%;
}

.navbar {
  z-index: 99999 !important;
  padding: 8px 16px;
  font-size: 1rem;
  display: block;
}

.navbar-toggler {
  padding: 0.15rem;
  border: none;
  font-size: 1rem;
}

.logo {
  font-size: 1rem;
  line-height: 0;

  img {
    display: inline-block;
    margin-right: 4px;
  }
}

.language {
  padding: 0 5px;
}

.external {
  color: white;
}
</style>

<script>

</script>
<script src="config.js"></script>
<script src="app.js"></script>

</html>
